body{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

#heading{
    text-align: left;
    background-color: cornflowerblue;
    padding: 20px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

h1{
    font-size: 50px;
}

#about-me{
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 30px;
    margin: 20px;
    border-radius: 15px;
}

#my-image{
    height: 150px;   
}

#my-projects{
    background-color: aliceblue;
    padding: 10px 30px;
    margin: 20px;
    border-radius: 15px;
}

#projects{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.project-image{
    height: 200px;
    border-radius: 10px;
}

#contacts{
    background-color: aliceblue;
    padding: 10px 30px;
    margin: 20px;
    border-radius: 15px;
}